# Database Configuration
DATABASE_URL="postgresql://aroma_user:aroma_password@localhost:5432/aroma_db?schema=public"

# NextAuth Configuration
NEXTAUTH_SECRET="your-next-auth-secret-key-at-least-32-chars"
NEXTAUTH_URL="http://localhost:3000"
